.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    margin: 100px;

}

.place-order-left{
   width: 100%; 
    max-width: max(30%,500px);

}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;


}
.place-order-left input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline-color: tomato;
}
.place-order-left .muti-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,600px);
}
/* .place-order .cart-total button{
    margin-top: 30px;
} */