.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image{
    width: 100%;
    
    border-radius: 15px 15px 0px 0px;
    
    
}

.food-item-info{
    padding: 15px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
    font-size: 12px;
    color: #555555;
    margin-bottom: 15px;
    min-height: 40px;
}

.food-item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: tomato;
}
