.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-family: max(1vw,12px);

}

.cart-items-item{
    margin: 10px 0px;
    color: black;
}

.cart-items-item img{
    width:50px
}

.cart hr{
    height: 1px;
    background-color:#e2e2e2 ;
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
    font-size: 18px;
    color: red;
    text-align: center;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap:max(12vw,20px);
    
}
.cart-total{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
    font-family: max(1.2vw,16px);
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border:none;
    color:white;
    background-color: tomato;
    width: max(15vw,200px);
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-promocode{
    flex:1;
    
}

.cart-promocode p{
    color: #555;

}
.cart-promocode-input{
    display: flex;
    margin-top: 10px;
    border-radius: 4px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.cart-promocode-input input{
    border:none;
    outline: none;
    padding-left: 10px;
    background: transparent;
}
.cart-promocode-input button{
    border:none;
    background-color: tomato;
    color:white;
    padding: 10px 20px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
