.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    height: 100px;
}

.navbar-menu{
    list-style: none;
    display: flex;
    gap: 30px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
    /* color: white; */
    /* transition: 0.3s ease-in-out; */
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.navbar li{
    cursor: pointer;
    transition: 0.3s;
}
.navbar-search-icon{
    position: relative;
    
}
.navbar-search-icon .dot{
    height: 8px;
    width: 8px;
    background-color: tomato;
    border-radius: 5%;
    position: absolute;
    top: -8px;
    right: -8px;

}